$text-color: #1F1F1F;
$background-color: #FFF;
$breakpoint-tablet: 768px;

@mixin vertical-align {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.l-hero {
  color: $text-color;
  height: 100%;

  &__section {
    height: 100%;
    position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-image: none;

    @media (min-width: $breakpoint-tablet) {
      background-color: $background-color;
    }

    h1 {
      color:#FFF;
      @media (min-width: $breakpoint-tablet) {
        color: $text-color;
      }
    }
  }

    &__highlight {
      color: rgba(255, 255, 255, 0.5);
      transition: color .3s ease-in-out;
      @media (min-width: $breakpoint-tablet) {
        color: rgba(0,0,0,0.4);
      }

      &:hover {
        color: #8EBACD;
      }
    }
}

.m-name {
  background-image: none;
  background-size: contain;
  background-position: bottom center;
  background-color: rgba(0,0,0,.8);
  @media (min-width: $breakpoint-tablet) {
    background-image: url('../../../images/linea.png');
    background-color: $background-color;
  }

  h1 {
    @include vertical-align;
  }
}

.m-passion {
  background-color: rgba(0,0,0,.4);
  background-size: contain;
  @media (min-width: $breakpoint-tablet) {
    background-image: url('../../../images/cosmos.png');
    background-color: $background-color;
  }

  h1 {
    @include vertical-align;

    @media (min-width: $breakpoint-tablet) {
      max-width: 38%;
      text-align: right;
      right: 10%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

}

.m-description, .m-contact {
  background-color: rgba(0,0,0,.6);
  background-size: contain;
  background-position: bottom center;
  @media (min-width: $breakpoint-tablet) {
    background-image: url('../../../images/compu.png');
    background-color: $background-color;
  }

  h1 {
    @include vertical-align;

    @media (min-width: $breakpoint-tablet) {
      left: 10%;
      transform: translateY(-50%);
    }
  }

}

.m-mexico {
  background-color: rgba(0,0,0,.3);
  @media (min-width: $breakpoint-tablet) {
    background-image: url('../../../images/mty.png');
    background-color: $background-color;
  }

  h1 {
    @include vertical-align;

    @media (min-width: $breakpoint-tablet) {
      transform: translateY(-50%);
      left: 10%;
      max-width: 30%;
    }
  }
}

.m-copenhagen {
  background-color: rgba(0,0,0,.2);
  @media (min-width: $breakpoint-tablet) {
    background-image: url('../../../images/cph.png');
    background-color: $background-color;
  }

  h1 {
    position: absolute;
    @include vertical-align;
    @media (min-width: $breakpoint-tablet) {
      right: 10%;
      max-width: 30%;
      top: 50%;
    transform: translateY(-50%);
    }
  }

}

.m-contact {
  background-color: rgba(255,255,255,1);
  @media(min-width: $breakpoint-tablet) {
    background-image: url('../../../images/lineacompleta.png');
    background-color: $background-color;
  }

  h1 {
    display: none;
    @media (min-width: $breakpoint-tablet) {
      display: block;
      max-width: 30%;
    }
  }

  &__item {
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid black;
    border-radius: 50%;
    background-color: #FFF;
    height: 50px;
    position: absolute;
    width: 50px;

    @media (min-width: $breakpoint-tablet) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__email {
    @include vertical-align;
    left: 25%;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAyklEQVQ4T62T4RHBQBBGXzrQATpQghKUQAdKoQLRgQ5QASUoQQfMM7vmhjCR2D83ubvv7bd7m4qeUfXUI2AK3LqCBCi+ANsfIXNgKOAQAEGLlpA67o0SYBnLKEfy9QNoAGyAI7AyeQlQozhBrxDFe2ANpIM3gJBJ0AWdw4l7ikyQex59BZhRgaFYRyW0EVCW4IVdAGax2nBrbyxBulZds35dGOW3gFP04lmCc5BNbPOSOvDZxzlINibttgFkssccOAOd4y8/U+fsCu+/MjKOuVxfuAAAAABJRU5ErkJggg==');
    @media (min-width: $breakpoint-tablet) {
      left: 50%;
      top: 20%;
    }
  }

  &__twitter {
    @include vertical-align;
    left: 50%;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA7klEQVQ4T6WTa3ECMRRGzyooDsABOAAUlCoAFIADcAASqANQAKugrQMkIIE5O8lOZiEzgd4/u0m+nPtMxT+tKrw/AMZADzgB13CvJ8DNHbDMwEbAOeiiZA9MgC8B/ig4ZCB66z+BH4FagB5+gkDxFvgO6/Ssy1CziDX4BYaJ4ga4J3CRSW0KXGIEG2BWWNAoawEWUU8fLwKa6GMKereIpRBb2USczoGtWRVG0YT/LqD13gW4dibWwGcmkr+gsUuNpSnY83lom4XtWh3ybi9HgF7NP52D9LJePbfID5ZG4IMR5ldzkOIwZWtb+hqzgDtOAiixzlXl+gAAAABJRU5ErkJggg==');
    @media (min-width: $breakpoint-tablet) {
      left: 50%;
      top: 40%;
    }
  }

  &__instagram {
    @include vertical-align;
    left: 75%;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA/0lEQVQ4T6WTAW3CYBCFPxQACgAF2xQwFDAcMAc4YA4GCjYc4ACmYMMBOAAFkC+5a+jSJm24pEnT/927e+/97QCvwBcwpF0dgfcO4MugYe8p8D3gyXcJrg2bhYnP+pPkEYI9MG5CcAG6MXYUEvTrF+jVEdj0BjjF0ujtHVGhIwlsUNNzgCZ3zQn2zKklbBL8xJQz4FMXqYkppx8DCg+SwEQkEFBVGbmDSyYmgTqnQJUEfdgBh5BaSZAgt1gAm1hjDnzqOjALQysJxH8AyxoJ6yD2uJYgY3MDN0rw6l8yJQIjfGlxpYUWVzmd9YPam5ReeC9OxuGa3y3+yBzgnzm/AfPmSERkM5HfAAAAAElFTkSuQmCC');
    @media (min-width: $breakpoint-tablet) {
      left: 50%;
      top: 60%;
    }
  }
}

